/DiscordUtils.iml
/.gitignore
/DiscordUtilsRecoded.iml
/pom.xml
/.idea/
/target/classes/
/target/generated-sources/
/target/maven-archiver/
/target/maven-status/
/target/DiscordUtils.jar
/target/DiscordUtils-1.0-SNAPSHOT.jar
/src/main/resources/logback.xml
/target/
/dependency-reduced-pom.xml
